#formjson
{
    display: none;
}
#text-btn
{
    cursor: pointer;
    display: block;
    margin-left: 10%;
    width: 70px;
    height: 45px;
    font-size: 20px;
    z-index: 100;
    text-align: center;
    margin-top: 0%;
    margin-left: 30%;
    margin-bottom: 20px;
    
}
#upload
{
    
    display: inline-block;
white-space: nowrap;
    position:relative;
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 20px;
    
    
}
#uploadedImg
{
    font-size: 15px;
    display: block;
}

nav
{
    position: fixed;
}
#canvas
{
    border-color: black;
display: block;
border:1px solid black;
vertical-align: middle
}
#save-btn
{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 10%;
    font-size: 15px;
    
}
#btn
{
    display: block;
}
#crop
{
    cursor: pointer;
    display: block;
}
.button
{
  
}